.label {
  width: 50%;
  @extend %center;
  text-align: center;
  position: relative;
  padding-bottom: 15px; 
  margin-bottom: 50px;

  &::before {
    @extend %pseudo;
    width: 15%;
    height: 5px;
    background-color: $active-color;
    bottom: 0;
    left: 42%;
  }
}

.label__desc {
  @include font("KaushanScript", 24px, $title-color);
}
.label__title {
  @include font("MontBold", 30px, $title-color);
  text-transform: uppercase;
}
