body {
  font: 14px/24px "Playfair Display", serif;
  color: #626262;
}
.container {
  width: 900px;
  margin: 0 auto;
}
/* HEADER */
.header {
  margin-bottom: 95px;
}
.header-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.header-list__item {
  display: inline-block;
}
.header-list__item:not(:last-child) {
  margin-right: 100px;
}
.active-item {
  color: #03a9f4;
}
.header-list__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
/* MAIN */
.main-list {
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.main-list__item {
  float: left;
  width: 420px;
}
.main-list__item:not(:nth-child(2n + 2)) {
  margin-right: 50px;
  margin-bottom: 85px;
}
.main-list__item:nth-child(5) {
  margin-bottom: 0;
}
.main-list__img {
  width: 100%;
}
.main-list__label {
  font: 14px/17px "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #c7c1b6;
  padding: 10px 5px 0;
}
.main-list__title {
  font-size: 30px;
  line-height: 36px;
}
.main-button {
  display: block;
  cursor: pointer;
  color: inherit;
  font: 20px/24px "Playfair Display", serif;
  padding: 20px 35px;
  background: none;
  border: 1px solid #626262;
  margin: auto;
}
