@font-face {
  font-family: "KaushanScript";
  src: url(../fonts/Kaushan/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: "MontReg";
  src: url(../fonts/Montserrat/montserrat-regular-webfont.woff) format(woff),
    url(../fonts/Montserrat/montserrat-regular-webfont.woff2) format(woff2);
}

@font-face {
  font-family: "MontBold";
  src: url(../fonts/Montserrat/montserrat-bold-webfont.woff) format(woff),
    url(../fonts/Montserrat/montserrat-bold-webfont.woff2) format(woff2);
}
@font-face {
  font-family: "RobotoLightItalic";
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
  font-family: "RobotoReg";
  src: url(../fonts/Roboto/roboto-regular-webfont.woff) format(woff),
    url(../fonts/Roboto/roboto-regular-webfont.woff2) format(woff2);
}
