$gradient: linear-gradient(
  360deg,
  rgba(252, 227, 138, 0.9) 0%,
  rgba(243, 129, 129, 0.9) 100%
);
$active-menu-item: #fce38a;
$active-color: #f38181;
$team-card-bg: #95e1d3;
$title-color: #333;
$text-color: #999;
